/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

.gallery {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 1440px;
  padding: 24px 156px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;

  transition: transform 0.1s ease-in-out;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(110%);
}

.gallery-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feedback-form {
  background-color: #fff;
  box-sizing: border-box;
  width: 408px;
  height: 296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

input,
textarea,
button,
label {
  color: #2e2f42;
  font-family: Montserrat;
}

input {
  font-size: 16px;
  font-weight: 400;
  outline: none;
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  transition: border 250ms ease-in-out;
}

input:hover {
  border: 1px solid #000;
}

label {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

textarea {
  font-weight: 400;
  font-size: 16px;
  outline: none;
  resize: none;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border 250ms ease-in-out;
  padding: 8px 16px;
}

textarea:hover {
  border: 1px solid #000;
}

button {
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  transition: background 250ms ease-in-out;
}

button:hover {
  background: #6c8cff;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
